bitbake.lock
build
deploy/
pseudodone
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
tags
environment-angstrom-v2014.12
buildhistory
cache
sources/downloads
sources/meta-96boards
sources/meta-edison
sources/meta-ettus
sources/meta-exynos
sources/meta-handheld
sources/meta-intel-iot-middleware
sources/meta-intel
sources/meta-minnow
sources/meta-mono
sources/meta-nslu2
sources/meta-opie
sources/meta-photography
sources/meta-qualcomm
sources/meta-ros
sources/meta-smartphone
sources/meta-sunxi
sources/meta-telephony
sources/meta-xilinx
*~$
sources/meta-openpandora
